Source: kustomize
Maintainer: Marc Falzon <marc@exoscale.com>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release

Package: kustomize
Architecture: any
Description: customization of Kubernetes YAML configurations
